{% extends 'base.html' %}
{% block title %}
{{upload.filename}}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{upload.filename}}</h1>
    <div class="alert alert-info">
        <p>{{upload.data}}</p>
        <p><b>Вопросы:
            {{upload.questions}}</b></p>
        <a href="/history/{{ upload.id }}/del" class = "btn btn-danger">Удалить</a>
        <a href="/history/{{ upload.id }}/quiz" class = "btn btn-primary">Викторина</a>
        {% if stick==0 %}
        <a href="/history/{{ upload.id }}/answer" class = "btn btn-success">Показать ответы</a>
        {% elif stick==1 %}
        <p>{{upload.answer}}</p>
        <br><a href="/history/{{ upload.id }}/close" class = "btn btn-secondary">Скрыть ответы</a>
        {% elif stick==2 %}
        <p>Тут должна была быть викторина</p>
        {% endif %}
    </div>
</div>
{% endblock %}
